{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="container">
        <div class="card card-body text-center" id="card-reservation-index">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            Avantages à vous inscire
                        </div>
                        <div class="card-body">
                            <p class="card-text">Gusto-Coffee prend soin de vous, start-ups, freelances, entreprises, coworkers,
                                en vous proposant de quoi se restaurer tout au long de la journée.
                                Mais notre attention ne s'arrête pas là, pour vous, nous avons mis en place un service à table pour déguster nos plats préparés sur place. Eh, oui, nos espaces sont aussi chez vous !</p>
                            <div>
                                <a href="#"><img src="img/spaghetti.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                                <a href="#"><img src="img/diet.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                            </div>
                            <br>
                            <a href="#" class="btn btn-primary" id="btn" data-toggle="modal" data-target="#exampleModal">Voir la carte</a>
                            <br>
                            <br>
                            <p class="card-text">Chez Gusto-Coffee, la fidélité est toujours récompensée, en créant un compte vous accédez à notre programme de fidélité et bénéficier de réduction et des surprises tout au long de l'année.</p>
                            <div>
                                <a href="#"><img src="img/giftbox.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                            </div>
                            <br>
                            <a href="#" class="btn btn-primary" id="btn" data-toggle="modal" data-target="#exampleModal1">Programme fidélité</a>
                            <br>
                            <br>
                            <p class="card-text">Profitez d'un réseau de professionnel, avec notre platform de mise en relation entre professionnel. Soyez tous le temps proches de la communauté en téléchargent notre application.<br>
                                Disponible sur android et App Store.</p>
                            <div>
                                <a href="#"><img src="img/smartphone.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                                <a href="#"><img src="img/Android.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                                <a href="#"><img src="img/app-store.png" class="card-img-top" alt="..." style="width: 40px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            S'inscrire
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
